
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1F1517;
    color: #fff; ;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #fff;

}

ul{
    list-style: none;
}